{% extends "base.html" %}

{% block content %}
<div class="row mb-2">
  <div class="col">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-search"></i></div>
      </div>
      <input type="search" class="form-control" id="inlineFormInputGroup" placeholder="Search Task Lists">
    </div>
  </div>
  <div class="col pt-2">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
      <label class="form-check-label" for="inlineRadio1">All</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">Complete</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
      <label class="form-check-label" for="inlineRadio3">Incomplete</label>
    </div>
  </div>

  <div class="col text-right">
    <!-- Example single danger button -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
      <i class="fas fa-plus"></i>
      Create Task List
    </button>

    <!-- Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createModalLabel">Create Task List</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% include "create.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <table class="table table-striped m-0">
    <thead>
      <tr>
        <th class="border-0" scope="col">Name</th>
        <th class="border-0" scope="col">Incomplete Tasks</th>
        <th class="border-0" scope="col">Complete Tasks</th>
      </tr>
    </thead>
    <tbody>
      {% for tasklist in tasklists %}
      <tr>
        <th class="border-0" scope="row">
          <a href="{{ tasklist.get_absolute_url }}">
            {{ tasklist.name }}
          </a>
        </th>
        <td class="border-0">{{ tasklist.done_items.count }}</td>
        <td class="border-0">{{ tasklist.not_done_items.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  document.addEventListener("redirect", evt => {
    console.log(evt);
    window.location.href = evt.detail.url;
  })
</script>
{% endblock %}
